@font-face {
  font-family: "body";
  src: url(../assets/fonts/body.ttf);
}

@font-face {
  font-family: "header";
  src: url(../assets/fonts/header.ttf);
}

@font-face {
  font-family: "bebas";
  src: url(../assets/fonts/bebas.ttf);
}

@font-face {
  font-family: "openSans";
  src: url(../assets/fonts/openSans.ttf);
}

body {
  font-family: "openSans";
  overflow: hidden;
}

.header-car {
  font-family: "bebas";
}

.bebas,
h1,
h2,
h3,
h4,
h5 {
  font-family: "bebas";
}

.before {
  z-index: 9;
}

.revRotate {
  left: 50%;
  transform: translate(-40%, 49%);
}

.revRotate:hover,
.useFullLinks:hover {
  color: #f6a610 !important;
}

.beforeRotate {
  transform: rotate(180deg);
}

.navbar {
  z-index: 152;
  position: fixed !important;
  transition-duration: 0.5s;
}

*::selection {
  background: #f6a610;
  color: white;
}

.bi-circle {
  font-size: 0.5rem;
}

.carousel-indicators [data-bs-target] {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border-bottom: unset !important;
  border-top: unset !important;
  background-clip: unset !important;
  box-sizing: border-box !important;
  transform: scale(0.5) translate3d(0, 0, 0);
}

.carousel-indicators [data-bs-target]:hover,
.carousel-indicators .active {
  background-color: transparent;
  height: 13px;
  border: 2px solid white;
  border-bottom: 2px solid white !important;
  border-top: 2px solid white !important;
  transform: scale(1) translate3d(0, 0, 0);
}

.carousel-indicators {
  right: 3%;
  bottom: 50%;
  transform: translate(0, 50%);
  left: unset;
  margin-right: 0;
  flex-direction: column;
}

.carousel-indicators .active {
  border-color: #f6a610;
  border-bottom: 2px solid #f6a610 !important;
  border-top: 2px solid #f6a610 !important;
}

.carousel-caption {
  bottom: 25%;
  right: unset;
  text-align: start;
  left: 6.2%;
  z-index: 2;
}

.play-pause {
  width: 10px;
  height: 10px;
}

.pointer {
  cursor: pointer;
}

.border-custom {
  border-color: #f6a610 !important;
  opacity: 1;
}

button#buttonSmall {
  box-shadow: none;
}

.orangeColor,
.orangeColor:hover,
.orangeColor.active,
.text-dark.social:hover {
  color: #f6a610 !important;
}

.services {
  background: url(../assets/images/2.jpg) no-repeat center center;
  background-size: cover;
}

.w-fit {
  width: fit-content;
}

.w-max {
  width: max-content;
}

.links {
  grid-area: links;
}

.screen {
  grid-area: screen;
}

.text {
  grid-area: text;
}

.capability {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "links text screen";
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .arrowImage {
    width: 50% !important;
    height: auto !important;
  }
  #loader {
    background-size: 23% !important;
  }
}

@media screen and (min-width: 1024px) {
  .header-car {
    font-size: 2.5rem;
  }
}

.specFont {
  font-size: 5rem;
}

@media screen and (max-width: 991.9px) {
  #nav {
    position: sticky !important;
    background-color: #000 !important;
  }

  div#navbarSupportedContent {
    background-color: #444;
    padding: 0 16px;
  }

  #nav .nav-link {
    color: white !important;
  }

  .capability {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-areas:
      "links text"
      "screen screen";
    justify-items: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  #loader {
    background-size: 35% !important;
  }
  .specFont {
    font-size: 3rem;
  }
}
@media screen and (max-width: 767px) {
  .laptop {
    display: none;
  }
}

#nav .nav-link {
  color: white;
  justify-content: center;
}

.nav-link {
  font-family: bebas;
  font-size: 1.25rem;
}

#nav .nav-link:hover,
#nav .nav-link.active {
  color: #f6a610 !important;
}

@media screen and (min-width: 670px) and (max-width: 813px) {
  .capability {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-areas: "links text screen";
    justify-items: start;
    align-items: start;
  }
}
@media screen and (max-width: 480px) {
  .capability {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-areas:
      "links"
      "text"
      "screen";
    justify-items: center;
    align-items: center;
  }

  #footerDiv {
    padding-bottom: 4rem !important;
  }

  .specFont {
    font-size: 2.5rem;
  }
}

.listStyle li {
  margin-bottom: 1.1rem;
}

.forLinkC {
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  text-align: start;
  padding-left: 1rem;
  transition-duration: 0.5s;
}

.forLinkC:hover {
  background-color: #f6a610;
  padding-left: 2rem;
}

.forLinkC.active {
  background-color: #f6a610;
  padding-left: 2rem;
}

.card-border {
  border-bottom: 3px solid black !important;
}

.listStyle {
  list-style: none;
  padding: 0;
}

.listStyle li {
  display: flex;
  column-gap: 5px;
  justify-content: center;
}

.bg-costum {
  background-color: #f6a610;
}

.text-dark.social {
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 50%;
  transition-duration: 0.5s;
}

.text-dark.social:hover {
  border-color: #f6a610;
}

.buttons i,
.toTop {
  z-index: 1;
  padding: 13px;
  border-radius: 50%;
  background-color: #f6a610;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.toTop {
  padding: 8px 13px;
}

#logo {
  transition-duration: 0.5s;
}

.useFullLinks {
  transition-duration: 0.3s;
}

.buttons {
  z-index: 99999999999999999;
}

.hidden-buttons {
  display: none;
}

footer li {
  margin-bottom: 0 !important;
}

footer li:hover,
.ref:hover {
  color: #f6a610 !important;
}

#mainSection {
  background: url(../assets/images/2.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  color: white;
}

.vh-60 {
  height: 60vh;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
}

.forZI {
  z-index: 3;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hide {
  display: none;
}

.bg-secondary2 {
  background-color: #f3f4f5 !important;
}

.laptop {
  border: 5px solid black !important;
}

.addAnimation {
  transition-duration: 0.5s;
}

.addAnimation:hover {
  transform: scale(1.05);
  /* border-color: #212529 !important; */
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background: #212529;
}

::-webkit-scrollbar-thumb {
  background: #f6a610;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #212529;
}

#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../assets/images/preloader.gif) 50% 50% no-repeat #fff;
  background-size: 10%;
}

#Download {
  position: relative;
  animation: upDown 0.6s ease-in-out infinite alternate;
}

@keyframes upDown {
  from {
    top: -5px;
  }

  to {
    top: 5px;
  }
}

.liInPro {
  transition-duration: 0.3s;
}

.liInPro:hover {
  color: #f6a610;
  transform: translateX(10px);
}

.projects li {
  justify-content: start !important;
  margin-bottom: 0rem !important;
  line-height: 2rem;
}

hr::before,
.onlyDeff::before,
.editB::before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -14px;
  background-color: #f6a610;
}

.onlyDeff::before {
  background-color: orangered;
}

.editB::before {
  bottom: -1px;
}

h5 {
  font-size: 1.6rem;
}

.bg-light-custom {
  background-color: #fff;
}

.newWidth {
  max-width: 24rem;
  width: fit-content;
}

.flex-1 {
  flex: 1;
}

.projectImgs {
  width: 100%;
  /* aspect-ratio: 1;
  object-fit: cover; */
}

.typing::after {
  content: "";
  animation: text1 1s 1s ease-in-out 1 forwards;
}
.typing2::after {
  content: "";
  animation: text2 1s 2s ease-in-out 1 forwards;
}
.typing3::after {
  content: "";
  animation: text3 1s 3s ease-in-out 1 forwards;
}

@keyframes text1 {
  10% {
    content: "";
  }
  20% {
    content: "M";
  }
  30% {
    content: "MO";
  }
  40% {
    content: "MOU";
  }
  50% {
    content: "MOUN";
  }
  60% {
    content: "MOUNT";
  }
  70% {
    content: "MOUNTA";
  }
  80% {
    content: "MOUNTAI";
  }
  90% {
    content: "MOUNTAIN";
  }
  100% {
    content: "MOUNTAINS";
  }
}

@keyframes text2 {
  0% {
    content: "";
  }
  20% {
    content: "M";
  }
  30% {
    content: "MO";
  }
  40% {
    content: "MOV";
  }
  50% {
    content: "MOVI";
  }
  60% {
    content: "MOVIN";
  }
  100% {
    content: "MOVING";
  }
}

@keyframes text3 {
  0% {
    content: "";
  }
  10% {
    content: "M";
  }
  20% {
    content: "MO";
  }
  30% {
    content: "MOU";
  }
  40% {
    content: "MOUN";
  }
  50% {
    content: "MOUNT";
  }
  60% {
    content: "MOUNTA";
  }
  70% {
    content: "MOUNTAI";
  }
  80% {
    content: "MOUNTAIN";
  }
  90% {
    content: "MOUNTAINS";
  }
  100% {
    content: "MOUNTAINS.";
  }
}