@font-face {
  font-family: "body";
  src: url(../assets/fonts/body.ttf);
}

@font-face {
  font-family: "header";
  src: url(../assets/fonts/header.ttf);
}

body {
  font-family: "body";
}

.header-car {
  font-family: "header";
}

.before {
  z-index: 9;
}
.revRotate {
  left: 50%;
  transform: translate(-40%, 49%);
}
.revRotate:hover {
  color: #f6a610 !important;
}
.beforeRotate {
  transform: rotate(180deg);
}
.navbar {
  z-index: 10;
  position: fixed !important;
  transition-duration: 0.5s;
}

*::selection {
  background: #f6a610;
  color: white;
}

.bi-circle {
  font-size: 0.5rem;
}

.carousel-indicators [data-bs-target] {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border-bottom: unset !important;
  border-top: unset !important;
  background-clip: unset !important;
  box-sizing: border-box !important;
  transform: scale(0.5) translate3d(0, 0, 0);
}

.carousel-indicators [data-bs-target]:hover,
.carousel-indicators .active {
  background-color: transparent;
  height: 13px;
  border: 2px solid white;
  border-bottom: 2px solid white !important;
  border-top: 2px solid white !important;
  transform: scale(1) translate3d(0, 0, 0);
}

.carousel-indicators {
  right: 3%;
  bottom: 50%;
  transform: translate(0, 50%);
  left: unset;
  margin-right: 0;
  flex-direction: column;
}

.carousel-indicators .active {
  border-color: #f6a610;
  border-bottom: 2px solid #f6a610 !important;
  border-top: 2px solid #f6a610 !important;
}

.carousel-caption {
  transform: translate(-40%, 50%);
  bottom: 50%;
  right: unset;
  text-align: start;
  left: 40%;
}

.play-pause {
  width: 10px;
  height: 10px;
}

.pointer {
  cursor: pointer;
}

.border-custom {
  border-color: #f6a610 !important;
}

.orangeColor,
.orangeColor:hover,
.orangeColor.active {
  color: #f6a610 !important;
}

.services {
  background: url(../assets/images/1.jpg) no-repeat center center;
  background-size: cover;
}

.w-fit {
  width: fit-content;
}

.links {
  grid-area: links;
}

.screen {
  grid-area: screen;
}

.text {
  grid-area: text;
}

.capability {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "links text screen";
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .arrowImage {
    width: 50% !important;
    height: auto !important;
  }
}
@media screen and (min-width: 1024px) {
  .header-car {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .capability {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-areas:
      "links text"
      "screen screen";
    justify-items: center;
    align-items: center;
  }
  .contact{
    grid-template-columns: repeat(1,1fr) !important;
  }
  #nav {
    position: sticky !important;
    background-color: #000 !important;
  }

  div#navbarSupportedContent {
    background-color: #444;
    padding: 0 16px;
  }
}

#nav .nav-link {
  color: white !important;
}

#nav .nav-link:hover, #nav .nav-link.active {
  color: #f6a610 !important;
}

@media screen and (max-width: 480px) {
  .capability {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-areas:
      "links"
      "text"
      "screen";
    justify-items: center;
    align-items: center;
  }
}

.listStyle li {
  margin-bottom: 1.5rem;
}

.forLinkC {
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  text-align: start;
  padding-left: 1rem;
  transition-duration: 0.5s;
}

.forLinkC:hover {
  background-color: #f6a610;
  padding-left: 2rem;
}

.forLinkC.active {
  background-color: #f6a610;
  padding-left: 2rem;
}

.card-border {
  border-bottom: 3px solid black !important;
}

.listStyle {
  list-style: none;
  padding: 0;
}

.listStyle li {
  display: flex;
  column-gap: 5px;
  justify-content: center;
}

.bg-costum {
  background-color: #f6a610;
}

.social i.orangeColor {
  padding: 5px 10px;
  border: 2px solid #f6a610;
  border-radius: 50%;
  transition-duration: 0.5s;
}

.social i.orangeColor:hover {
  color: white !important;
  background-color: #f6a610;
}

.buttons i,
.toTop {
  z-index: 1;
  padding: 13px;
  border-radius: 50%;
  background-color: #f6a610;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.toTop {
  padding: 8px 13px;
}
#logo {
  transition-duration: 0.5s;
}

.buttons {
  z-index: 9;
}

.hidden-buttons {
  display: none;
}

footer li {
  margin-bottom: 0 !important;
}
footer li:hover,
.ref:hover {
  color: #f6a610 !important;
}
#mainSection {
  background: url(../assets/images/3.jpg) no-repeat top center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  color: white;
}
.vh-50 {
  height: 50vh;
}
.contact{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.hide {
  display: none;
}
.bg-secondary2{
  background-color: #F3F4F5 !important;
}
.laptop{
  border: 5px solid black !important;
}
.addAnimation{
  transition-duration: 0.5s;
}
.addAnimation:hover{
  transform: scale(1.05);
  border-color: #212529 !important;
}
::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background: #212529;
}

::-webkit-scrollbar-thumb {
  background: #f6a610;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #212529;
}